.BackButton {
    padding: 1px 10px;
    color: #005E8B;
    font-size: 20px;
    background: white;
    cursor: pointer;
    border: 1px solid #005E8B;
    border-radius: 15px;
    margin-right: 250px;
}

.ForwardButton {
    padding: 1px 10px;
    color: white;
    font-size: 20px;
    background: #005E8B;
    cursor: pointer;
    border: 1px solid #005E8B;
    border-radius: 15px;
    margin: 5px;
}

.PlusButton {
    padding: 0px 8px;
    color: white;
    font-size: 20px;
    background: #005E8B;
    cursor: pointer;
    border: 1px solid #005E8B;
    border-radius: 50px;
}